$color-white: #fff;
$color-black: #000;
$color-gray: #696969;
$color-social: #004891;
$color-cyan: #009ee8;
$color-orange: #ef8100;
$color-green: #3bb308;
$color-alice-blue: #eef8fe;
$color-dark-cerulean: #004891;
$color-gainsboro: #e1e1e1;
$color-pattens: #c3e5fb;
$color-magenta: #ee3644;
$color-white-smoke: #f6f6f6;
$color-tangerine: #ef8100;
$color-sky-blue: #00aeef;
$color-swan: #b2b2b2;
$color-dodger: #1e8eff;
$color-shake: #68a5bb;
$color-dark-gray: #b1b1b1;
$color-scooter: #3788a5;

$ff-sans: "Roboto", sans-serif;
